<section class="grid-header container grid-960">
    <nav class="navbar">
        <section class="navbar-section">
            <a ng-click="vm.toggleShow = !vm.toggleShow"
               class="btn btn-lg btn-link btn-action show-sm">
                <i class="icon icon-menu"></i>
            </a>
            <a href="#" class="navbar-brand mr-10">Gulp Automation</a>
            <a href="#" class="btn btn-link">Welcome</a>
        </section>
        <section class="navbar-section">
            <a href="https://github.com/offwork/SimpleGulpAutomation"
               target="_blank" class="btn btn-primary">
                {{vm.mainText}}
            </a>
        </section>
    </nav>
</section>